.backgr{
    background-image:url("../../public/img/beach-sunrise-4k-wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}